<head>
    <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
</head>
<div>
  <h1 class="login-top">Log in</h1>
</div>
<body>
  <div class="login-top">
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
      <div class="login-bottom">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="login-bottom">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
        <%= f.submit "Log in" %>
    <% end %>
  </div>
</body>
