<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
</head>

<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="movie-show">
  <div class="field">
    <p class="movie-show"><%= form.label :title %></p>
    <p><%= form.text_field :title, id: :movie_title %></p>
  </div>
<br>
  <div class="field">
    <%= form.label :video %>
    <br>
    <p><%= form.file_field :video, id: :movie_video, :accept => 'video/*' %></p>
  </div>

  <div class="movie-show">
    <%= form.submit %>
  </div>
<div>

<% end %>
