<head>
    <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet">
</head>
<h1 class="signup-top">Sign up</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "のエラー") %> があります。修正してください。:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </ul>
    </div>
  <% end %>
  <body>
    <div class="signup-bottom">
      <%= form.label :name %>
      <%= form.text_field :name, id: :user_name %>
    </div>
    <div class="signup-bottom">
      <%= form.label :email %>
      <%= form.email_field :email, id: :user_email %>
    </div>
    <div class="signup-bottom">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
  <!--
    <div class="field">
      <#%= form.label :icon %>
      <#%= form.text_field :icon, id: :user_icon %>
    </div>
  -->
    <div class="signup-bottom">
      <%= form.submit %>
    </div>
  </body>  
<% end %>
